<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Postage Calculation Results</title>
</head>
<body>
    <h1>Postage Calculation Results</h1>
    <p><strong>Weight:</strong> <%= weight %> oz.<br/>
        <strong>Mail Type:</strong> <%= mailType %><br/>
		<strong>Postage:</strong> <% if (isNaN(postage)) { %> postage <% } %>
		<% else { %> $ <%= postage.toFixed(2) %> <% } %></p>
	</p>If postage is shown as $0.00, then the weight entered does not have a defined postage amount for the chosen mail type.</p>
</body>
</html>